<div th:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        <span>
                            <i class="lni-home"></i>
                        </span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clients">
                        <span data-feather="file"></span>
                        Clients
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/loans">
                        <span data-feather="shopping-cart"></span>
                        Loans
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="bar-chart-2"></span>
                        Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="bar-chart-2"></span>
                        Settings
                    </a>
                </li>
            </ul>

            <ul class="nav flex-column mb-2">
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">-->
                <!--                        <span data-feather="file-text"></span>-->
                <!--                        Current month-->
                <!--                    </a>-->
                <!--                </li>-->
            </ul>
        </div>
    </nav>

</div>
