<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>
</head>
<body>
<div th:replace="fragments/nav :: nav">
</div>
<div class="container main" id="app">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center ">
                        <input class="form-control form-control-sm col-6 shadow-sm" placeholder="Search Loans">
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="lni-book li-icon"></i>  new application
                                </button>
                                <div class="dropdown-menu" aria-labelledby="New Application">
                                    <a class="dropdown-item" href="/loans?type=individual">Individual</a>
                                    <a class="dropdown-item" href="/loans?type=corporate">SME/Business</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">


                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/app.js}">

</script>

</body>
</html>